
  <mat-menu #menuAdmin="matMenu">
    <ng-template matMenuContent>
      <a mat-menu-item routerLink="/user-sector-list" routerLinkActive="active-link">Users Sectors</a>
    </ng-template>
  </mat-menu>
  
  
  <mat-toolbar color="primary">
   
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon >menu</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/user-sector-list" routerLinkActive="active-link">Users Sectors</a>
      </mat-menu>
  
      <h1>Sectors</h1>
  
  </mat-toolbar>

